div.container {
    width: 50vw;
    min-width: 700px;
}

.pull-right {
  float: right !important;
}

div#footer {
	color: #5A5A5A;
	/*border-color: #D06149;*/
	font-size: 80%;
}

#header {
	color: #5A5A5A;
}
